footer 
  .wrapper 
    .footer-content.flex-line 
      .company-info 
        .footer-logo 
          img(src="img/logo-white.svg", alt="Logotype of the company BOSSLOGICS")
        p Simplify, transform, and automate your product creation, sales, and management.
      .links 
        h4 POPULAR LINKS   
        ul.links-list 
          li
            a(href="#") Solutions
          li
            a(href="#") Together
          li
            a(href="#") Customers
          li
            a(href="#") Pricing
          li
            a(href="#") About
          li
            a(href="#") Contact
      .contacts 
        h4 get in touch  
        .contacts-wrap 
          .info-wrap 
            a.mail(href="mailto:info@bosslogics.com") info@bosslogics.com
            a.tel(href="tel:+2123723399") 212-372-3399
          address 
            ul 
              li BOSS Logics 
              li 30-30 47th Ave 
              li #470 
              li LIC, NY 11101 
      .contact 
        h4 INTERESTED IN MORE INFORMATION? 
        form(action="index.php").flex-line  
          label.mail
            input#mail(type="email", name="mail", placeholder="Your name")
          label.submit
            input.btn.filled-btn(type="submit", value="contact") 
        +soc
    .footer-line.flex-line 
      p.copy &copy; 2020 BOSS Logics 
      ul.footer-menu.flex-line 
        li
          a(href="#") Privacy Policy
        li
          a(href="#") Terms & Conditions   
      
      
      
      