header
  .wrapper
    .header-line.flex-line 
      .logo 
        a(href="#") 
          img(src="img/logo.svg", alt="Logotype of the company BOSSLOGICS")
      .burger
        span
        .burger-bg 
        .burger-close
      nav.menu 
        ul.flex-line
          li
            a(href="#") Solutions
          li
            a(href="#") together
          li
            a(href="#") Customers
          li
            a(href="#") Pricing
          li
            a(href="#") About
          li
            a(href="#") Contact
      +soc
    section.header-content.flex-line 
      .header-about 
        .border  
          h1 Software that works the way you do <span>(Really)</span>
        p.section-text Simplify, transform, and automate your product creation, sales, and management with BOSS Logics—so you can get products to market faster and more effectively.
        .button-wrap.flex-line 
          a.btn.filled-btn(href="#") Get Started 
          a.btn.glass-btn(href="#") Learn More
      .header-banner 
        img(src="img/header-banner.png", alt="Laptop")

