footer 
  font-size: 1.4rem
  padding-top: 70px
  color: #fff
  background-color: #001626
  ul 
    padding: 0 
    margin: 0
  p,a 
    font-weight: 300
    margin: 0 
    color: #fff
  a 
    text-decoration: none
    line-height: 2.2rem
    transition: all .2s ease
    &:hover
      opacity: 60%

.footer-content 
  align-items: start
  margin-bottom: 50px

.footer-logo 
  margin-bottom: 30px

.company-info 
  width: 20% 
  

.links,
.contacts
  width: 15%

.contacts 
  a 
    display: block
    padding-left: 25px
    margin-bottom: 10px
  li 
    font-style: normal
    padding-left: 25px
    font-weight: 300

.contact 
  width: 40%
  form 
    margin-bottom: 35px
  ul 
    width: 50%

h4 
  font-size: 1.4rem
  letter-spacing: 1px
  color: $primary
  text-transform: uppercase
  margin: 0
  margin-bottom: 25px

.mail 
  width: 55%
  input 
    font-size: 1.4rem
    width: 100%
    box-sizing: border-box 
    padding: 15px 20px
    background-color: $trs 
    border: 1px solid #fff
    color: #fff
    border-radius: 25px
  &::placeholder 
    font-family: "Geometria", Arial, Helvetica, sans-serif
    color: #fff

label 
  display: inline-block

.footer-line 
  border-top: 1px solid #fff
  padding: 20px 0

.footer-menu 
  margin: 0 -20px
  li 
    margin: 0 20px