footer 
  font-size: 1.4rem
  padding-top: 70px
  color: #fff
  background-color: #001626
  ul 
    padding: 0 
    margin: 0
  p,a 
    font-weight: 300
    margin: 0 
    color: #fff
  a 
    text-decoration: none
    line-height: 2.2rem
    transition: all .2s ease
    &:hover
      opacity: 60%

.footer-content 
  align-items: start
  margin-bottom: 50px

.footer-logo 
  margin-bottom: 30px

.company-info 
  width: 20% 
  

.links,
.contacts
  width: 15%

.contacts 
  a 
    display: block
    padding-left: 25px
    margin-bottom: 10px
  li 
    font-style: normal
    padding-left: 25px
    font-weight: 300

.contact 
  width: 40%
  form 
    margin-bottom: 35px
  ul 
    width: 50%

h4 
  font-size: 1.4rem
  letter-spacing: 1px
  color: $primary
  text-transform: uppercase
  margin: 0
  margin-bottom: 25px

.mail 
  width: 55%
  input 
    font-size: 1.4rem
    width: 100%
    box-sizing: border-box 
    padding: 15px 20px
    background-color: $trs 
    border: 1px solid #fff
    color: #fff
    border-radius: 25px
  &::placeholder 
    font-family: "Geometria", Arial, Helvetica, sans-serif
    color: #fff

label 
  display: inline-block

.footer-line 
  border-top: 1px solid #fff
  padding: 20px 0

.footer-menu 
  margin: 0 -20px
  li 
    margin: 0 20px


@media screen and (max-width: 1500px)
  .wrapper 
    width: 85%
  .together,
  .platforms, 
  .preferences,
  .trust,
  .partners
    margin-bottom: 250px

  .get-demo:before 
    height: 120%

@media screen and (max-width: 1400px)
  .platforms-img 
    width: 40%
  .platforms-about 
    width: 60%

  .types 
    h3 
      margin: 20px 0 10px 0
    p 
      margin: 0

  .preference 
    width: 20%

  .trust 
    width: 100%

  .btn 
    padding: 15px 50px

  form 
    .btn 
      padding: 15px 40px

@media screen and (max-width: 1300px)
  header 
    min-height: 700px
    background-size: 75%

  .header-line 
    margin-bottom: 40px

  .menu 
    width: 60%
    margin: 0 30px 0 15%

  .soc-line 
    width: 15%

  h1,h2 
    font-size: 6rem
    line-height: 6.4rem

  .together,
  .platforms, 
  .preferences,
  .trust,
  .partners
    margin-bottom: 200px

@media screen and (max-width: 1230px)
  .wrapper 
    width: 90%

  .preference 
    padding: 0 50px

  .get-demo 
    padding-bottom: 100px

@media screen and (max-width: 1100px)
  .about-company,
  .contact 
    width: 25%

  .contacts
    width: 20%

  .contact 
    text-align: center
    ul 
      margin: 0 auto

  form 
    flex-wrap: wrap 
  
  .submit, form .btn
    width: 100%

  .mail 
    width: 100%
    margin-bottom: 10px
  



  // .footer-content 
  //   flex-wrap: wrap
  //   justify-content: center

  // .company-info,
  // .contact 
  //   width: 40%
  //   order: 1
  //   margin-bottom: 40px

  // .company-info 
  //   margin-right: 10%

  // .links, 
  // .contacts 
  //   order: 2
  //   width: 30%

  // .links
  //   margin-right: 10%

  // .links-list 
  //   display: flex
  //   justify-content: space-between 
  //   flex-wrap: wrap
  //   li 
  //     width: 30%
  //     text-align: center