mixin soc 
  ul.soc-line.flex-line
    li
      a(href="#") 
        img(src="img/fb.svg", alt="BOSSLOGICS in Facebook")
    li
      a(href="#") 
        img(src="img/tw.svg", alt="BOSSLOGICS in Twitter")
    li
      a(href="#") 
        img(src="img/inst.svg", alt="BOSSLOGICS in Instagram")
    li
      a(href="#") 
        img(src="img/in.svg", alt="BOSSLOGICS in Linkedin")